<h1>Our restaurants</h1>

<% @restaurants.each do |r| %>
  <p>
    <strong>Name:</strong>
    <%= r.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= r.address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= r.name %>
  </p>

  <p>
    <strong>category:</strong>
    <%= r.name %>
  </p>

<% end %>
